@import url('https://fonts.googleapis.com/css2?family=Assistant:wght@200..800&display=swap');
body {
    background-color: #d7a9cc;
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center;
    margin: 50px;;
    font-family: "Assistant", serif;
    font-optical-sizing: auto;
    font-size: 15px;
    font-weight: 500;
    font-style: normal;
}

img {
    width: 400px;
    box-shadow: 0 0 10px 10px #e48fcf;
    border-radius: 10px;
    max-width: 100%;
    height: auto;
    transition: all 1s ease-in-out;
}

.pic:hover {
    transform: scale(1.05);
    transform: 10s ease;
}

.button {
    margin-top: 5px;
    padding: 10px 20px;
    background-color: #e48fcf;
    color: white;
    border: none;
    border-radius: 5px;
    text-decoration: none;
    font-family: 'Assistant', sans-serif;
    font-size: 16px;
    cursor: pointer;
    width: 150px;
    text-align: center;
    line-height: 1.5;
    display: inline-block;
}

.section {
    margin-top: 40px;
    padding: 10px 20px;
    background-color: #e48fcf;
    color: white;
    border: none;
    border-radius: 5px;
    text-decoration: none;
    font-family: 'Assistant', sans-serif;
    font-size: 16px;
    width: 30%;
    text-align: center;
    line-height: 1.5;
    display: inline-block;
}

.button:hover {
    text-decoration: none;
    transform: scale(1.05);
    transform: 0.6s ease;
}

.title {
    font-size: 50px;
    font-weight: 1000;
    font-style: normal;
    margin-top: 10px;
    padding: 10px 20px;
    color: #ffffff3b;
    letter-spacing: 20px;
    text-align: center;
    line-height: 0.8;
    display: inline-block;
}

.titlerepeater {
    margin-top: 20px;
}

.buttonrepeater {
    margin-top: 20px;
}

@media (max-width: 800px) {
    .title {
        font-size: 1.5em;
    }

    .button {
        font-size: 1em;
        padding: 12px;
    }
    .section{
        width:80%;
        transition: all 0.3s ease-in-out;
    }
}

@media (min-width: 601px) {
    .section{
        width: 80%;
        transition: all 0.3s ease-in-out;
    }
}

@media (min-width: 960px) {
    .section{
        width: 30%;
        transition: all 0.3s ease-in-out;
    }
}

@media (min-width: 1920px) {
    .section{
        width: 20%;
        transition: all 0.3s ease-in-out;
    }
}

@media (min-width: 2880px) {
    .section{
        width: 10%;
        transition: all 0.3s ease-in-out;
    }
}